@font-face {
  font-family: 'Major-Mono-Display';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass-Mono';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/fonts/OverpassMono-Regular.ttf') format('truetype');
}
